$firstbg-color: #ffffff;
$buybtn-color:#0061f2;
$buybtnhover-color:#004fc5;
$alink-color:#989894;
$aboutsec-color:#f2f6fc;
$clr-redforabout:#e81500;
$clr-orangeforabout:#f4a100;
$clr-blueforabout:#0061f2;
$clr-greenforcontact:#00ac69;
$clr-footer:#212832;
$clr-footelemet:#9da0a5;